foreground = yes
debug = 4
syslog = no
output = /dev/stdout

pid = /run/stunnel/stunnel.pid

[mqtt-pqc]
client = yes
accept  = 0.0.0.0:1883
connect = mosquitto:8883

sslVersion = TLSv1.3
CAfile = /certs/ca.crt
verify = 2

curves = ${PQC_ALG}

TIMEOUTclose = 0
